* {
    padding: 0px;
    margin: 0px;
}

@import url('https://fonts.googleapis.com/css2?family=Nanum+Pen+Script&display=swap');

@font-face {
    font-family: "Simpsons";
    src: url(../fonte/Homer_Simpson_Revised.ttf) format("truetype");
    font-weight: normal;
}

:root {
    --cor1: rgba(240, 128, 128, 0.781);
    --cor2: rgba(128, 236, 240, 0.795);
    --cor3: darkred;

    --fonte-destaque: 'Simpsons', sans-serif;
    --fonte-nova: 'Nanum Pen Script', cursive;
}

body {
    background-color: rgb(240, 128, 128);

}

header {
    font-family: var(--fonte-destaque);
    color: var(--cor3);
    text-align: center;
    font-size: 3em;
}

nav {
    background-color: rgba(128, 236, 240, 0.795);
    text-align: center;
    word-spacing: 30px;
    font-family: var(--fonte-destaque);
    font-size: 2em;
    box-shadow: 0px 3px 7px rgba(0, 0, 0, 0.425);
    margin-bottom: 10px;
}

nav>a {
    text-decoration: none;
    color: darkred;
    font-size: 1em;
    transition-duration: 1s;
}

nav>a:hover {
    background-color: rgb(255, 255, 255);
    border-radius: 5px;
}

div {
    display: inline-block;
    columns: 2;
    align-items:  center;
}

div img {
    max-width: 150px;
}

footer {
    background-color: aqua;
    color: darkred;
    padding: 5px;
    font-family: var(--fonte-destaque);
    font-size: 1.5em;
    margin-top: 20px;
}

footer>p>a {
    text-decoration: none;
    color: darkred;
}

footer>p {
    text-align: center;
}

footer>p>a:hover {
    text-decoration: line-through;
    color: yellow;
}